.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  background-color: #f5c9c9;
  padding: 15px;
  border-radius: 15px;
}

.todolistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.task {
  font-weight: bold;
}

.active {
  background-color: #1f41f8;
  color: white;
  border-radius: 3px;
  border: 1px solid #1f41f8;
}

.taskInputError {
  border: 1px solid #f81f1f;
  outline: none
}
